{
  "arrowParens": "always",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 4,
  "trailingComma": "es5",
  "semi": true,
  "useTabs": true,
  "proseWrap": "always",
  "printWidth": 80,
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
